@font-face {
	font-family: 'Brown';
	src: url('/fonts/brown-regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Rusch';
	src: url('/fonts/rusch-gotico-antiqua.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: #FFF;
	color: #000;
	font-family: 'Brown', sans-serif;
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color .3s, color .3s;
}

body.dark-mode {
	background-color: #000;
}

body.dark-mode p {
	color: #FFF;
}

a {
	color: #f00;
	text-decoration: none;
	transition: color .3s;
}

a:hover {
	color: #c00;
}

a:focus {
	outline: 2px solid currentColor;
	outline-offset: 2px;
	border-radius: 2px;
}

h1 {
	font-family: 'Rusch', serif;
	color: #f00;
	font-size: clamp(1.2rem, 3.04vw, 2.4rem);
	margin: 80px 5vw 30px 8vw;
	font-weight: 400;
	cursor: pointer;
}

p {
	font-weight: 500;
	line-height: 1.2;
	margin: 0 5vw 0 8vw;
	font-size: clamp(1.2rem, 3.04vw, 2.4rem);
	max-width: 80%;
}

@media (min-width: 1440px) {
	p, h1 {
		font-size: 2.4rem;
	}
	p {
		max-width: 1440px;
	}
}

@media (max-width: 768px) {
	p {
		max-width: 90%;
	}
}

@media (max-width: 480px) {
	p {
		margin: 60px 3vw 0 5vw;
		font-size: clamp(1.2rem, 4vw, 2rem);
	}
	h1 {
		font-size: clamp(1.2rem, 4vw, 2rem);
	}
}

:focus-visible {
	outline: 2px solid #FFF;
	outline-offset: 3px;
}

