body {
   background-color: #FFF; /* Simplified hex for black */
   color: #000; /* Simplified hex for white */
   font-family: 'Space Grotesk', sans-serif;
   margin: 0;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-in {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}

canvas {
   display: block;
}

a {
   color: inherit; /* Use text color */
   text-decoration: underline;
   transition: color 0.3s ease; /* Smooth hover effects */
}

a:hover {
   color: #ffbb00; /* Lighter gray for hover state */
}

a:focus {
   outline: 2px solid currentColor;
   outline-offset: 2px;
   border-radius: 2px; /* Adds slight rounding for a polished look */
}

h1, h2 {
   color: inherit;
   font-family: inherit;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2;
   margin: 80px 5vw 0 8vw; /* Increased top (80px) and left (8vw) margins */
   text-decoration: none;
}

h1 {
   font-size: clamp(1.5rem, 3.8vw, 3rem);
   max-width: 80%;
}

h2 {
   font-size: clamp(.875rem, 1.5vw, 1rem);
   max-width: 35%;
}

@media (max-width: 768px) {
   h1, h2 {
       margin: 70px 5vw 0 7vw;
   }

   h1 {
       max-width: 90%;
   }

   h2 {
       max-width: 80%;
   }
}

@media (max-width: 480px) {
   h1, h2 {
       margin: 60px 3vw 0 5vw;
   }

   h1 {
       font-size: clamp(1.5rem, 5vw, 2.5rem);
   }

   h2 {
       font-size: clamp(0.8rem, 3vw, 1rem);
   }
}

:focus-visible {
   outline: 2px solid #FFF; /* Ensures focus styles for accessibility */
   outline-offset: 3px;
}

.hidden {
   display: none !important; /* Useful for hiding elements */
}

.visible {
   display: block !important;
}

